#parent-container{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-image: url('./image/background/home-background1.jpeg'); */
    background-attachment: fixed;
    background-size: cover;
    animation: background-scroll 20s linear infinite;
    background-color: black;
}

@keyframes background-scroll {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 0%;
    }
}

#form-container{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#form-input-field-container{
    /* border: 1px solid green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 12;
}

#player-name-field-container{
    /* border: 1px solid rgb(2, 63, 98); */
    width: 100%;
    height: 100%;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.75;
    gap: 0.75rem;
}

#player-name-field-container input{
    width: 82%;
    flex: 1;
    padding: 0.25rem;
    font-size: larger;
    text-transform: capitalize;
    font-family: "Comic Sans MS", normal;
    color: #1d1d1d;   
    border-radius: 15px;
    padding: 8px;

}

#player-name-field-container input:nth-child(1) {
    background-color: #fa6868;
    border: 2px solid #f42626;
    box-shadow: -7px -7px 10px rgb(146, 1, 1);
}


#player-name-field-container input:nth-child(2) {
    background-color: #03e1f5;
    border: 2px solid #018996;
    box-shadow: 7px 7px 10px rgb(1, 80, 146);
}



#player-name-field-container input:nth-child(1):focus {
    background-color: #fa8787;
}

#player-name-field-container input:nth-child(2):focus {
    background-color: #89e7ef;
}


.card-selector-side-scroll-container{
    /* border: 1px solid rgb(138, 138, 3); */
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card-image-container{
    background-image: linear-gradient(to bottom right, #fa6868, white, #03e1f5, white);
    border-radius: 30%;
    padding: 0.5rem;
}

.card-selector-side-scroll-container img{
    width: 8rem;
    height: 8.5rem;
    border-radius: 30%;
}

.choosen-card{
    padding: 0.2rem;
    border: 3px solid transparent;
    background-image: linear-gradient(to bottom right, gray, black);
}

#difficulty-level-container{
    /* border: 1 px solid rgb(226, 48, 77); */
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.difficulty-level-label{
    /* border: 1px solid rgb(168, 6, 146); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}


.difficulty-level-label label {
    font-size: 2rem;
    color: rgb(164, 164, 164);
    font-weight: bold;
}

.difficulty-level-label input[type="radio"] {
    transform: scale(2);
}

#play-backgroundchange-button-container{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#play-button-container{
    flex: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#play-button-container input[type="submit"] {
    width: 40%;
    height: 2.5rem;
    font-size: x-large;
    background-color: #f9e8e8;
    color: black;
    font-family: 'Comic Sans MS', normal, sans-serif;
    border: 3px solid #ffcc00;
    border-radius: 10px; 
    box-shadow: 0 2px #ffcc00;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    text-shadow: 2px 2px #ffcc00;
    animation: rotate 1s linear both infinite;
}

@keyframes rotate {
    100% {
      filter: hue-rotate(-360deg)
    }
}

#backgroundchange-button-container{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#backgroundchange-button-container button{
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 50%;
    height: 60%;
    width: 30%;
} 

#backgroundchange-button-container button img{
    width: 1.8rem;
    height: 1.8rem;
} 