.card{
    position: relative;
}

.card img{
    border: 1px solid black;
    width: 4.5rem;
    height: 4rem;
    border-radius: 5%;
}

.card .front-side{
    transform: rotateY(90deg);
    position: absolute;
}

.card-flip .front-side{
    transform: rotateY(0deg);
}
